* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	width: 100vw;
	min-height: 100vh;
	background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80');
	background-attachment: fixed;
	background-size: cover;
	background-color: var(--bg-color);
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Open Sans', sans-serif;
}
body>main {
	flex-grow: 1;
}
header {
	background-color: var(--header-bg-color);
	color: var(--header-title-color);

	padding: 0.3rem 1.5rem;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
header>*{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 2rem;
}
header #wpname {
	color: var(--header-wpname-color);
	text-decoration: none;
}
nav {
	background-color: var(--nav-bg-color);
	display: flex;
}
nav ul {
	list-style: none;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
nav>ul {
	width: 100%;
}
nav ul li {
	padding: 0.2rem 1rem;
}
nav ul li a {
	padding: 0.2rem 1rem;
	color: var(--nav-auth-color);
}
nav #navbar-auth {
	justify-self: flex-end;
	background-color: var(--nav-auth-bg-color);
}

#auth-form {
	margin: auto;
	padding: 2rem;
	align-self: center;

	width: 40%;
	border-radius: 1rem;
	border: 1px solid var(--auth-form-border-color);
	background-color: var(--auth-form-bg-color);
	
	display: flex;
	flex-flow: column nowrap;
	align-items: left;
}
#auth-form .form-field {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#auth-form .form-field input, #auth-form .form-field select {
	min-width: 60%;
}


h1{
	font-family: 'Sofia Sans Semi Condensed', sans-serif;
}


/*----- COLORS ------- */
:root{
    --primary1: #F26A1B;
    --primary2: #D93D04;
    --white:#F2F2F0 ;
    --black:#364259;
    --brown:#BF8B78;
}