* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	width: 100vw;
	min-height: 100vh;
	background-image: url('../assets/img/book-library-with-open-textbook_1150-5920.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-color: var(--bg-color);

	display: flex;
	flex-flow: column nowrap;
}
body>main {
	flex-grow: 1;
}
header {
	background-color: var(--header-bg-color);
	color: var(--header-title-color);

	padding: 0.3rem 1.5rem;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}
header>*{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 2rem;
}
header #wpname {
	color: var(--header-wpname-color);
	text-decoration: none;
}
header #headerbar-username {
	color: var(--header-title-color);
	text-decoration: none;
}
nav {
	background-color: var(--nav-bg-color);
	display: flex;
}
nav ul {
	list-style: none;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}
nav>ul {
	width: 100%;
}
nav ul li {
	padding: 0.2rem 1rem;
}
nav ul li a {
	padding: 0.2rem 1rem;
	color: var(--nav-auth-color);
}
nav #navbar-auth {
	justify-self: flex-end;
	background-color: var(--nav-auth-bg-color);
}

#auth-form {
	margin: auto;
	padding: 2rem;
	align-self: center;

	width: 40%;
	border-radius: 1rem;
	border: 1px solid var(--auth-form-border-color);
	background-color: var(--auth-form-bg-color);
	
	display: flex;
	flex-flow: column nowrap;
	align-items: left;
}
#auth-form .form-field {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
#auth-form .form-field input, #auth-form .form-field select {
	min-width: 60%;
}